<html xmlns:th="http://www.thymeleaf.org">
<h1>Time is</h1>
<!--<p th:text="${date}"></p>-->

<h2 id="demo"></h2>

<script>
    //var date = "[[${date}]]";
    setInterval(function () {
        var count = httpGet("http://localhost:8080/time");
        document.getElementById("demo").innerHTML = " date " + new Date().toISOString() + " count " + count + "s ";
    }, 1000);

    function httpGet(url) {
        var xmlHttp = new XMLHttpRequest();

        xmlHttp.open("GET", url, false); // false for synchronous request
        xmlHttp.send(null);

        return xmlHttp.responseText;
    }
</script>

</html>