<html>

<style type="text/css" media="screen">

    h1.center {
        text-align: center;
    }

    h2.center {
        text-align: center;
    }

</style>

<h1 class="center">I was alive</h1>
<!--<p th:text="${date}"></p>-->

<h2 class="center" id="alive"></h2>
<h2 class="center" id="disturb"></h2>

<script>
    //var date = "[[${date}]]";
    setInterval(function () {
        var response = httpGet("172.31.36.249:8080/time");
        document.getElementById("alive").innerHTML = msToTime(new Date().getTime() - response.start);
        document.getElementById("disturb").innerHTML = " but " + response.count + " people already spend here </br>" + msToTime(response.sec * 1000);
    }, 1000);

    function httpGet(url) {
        var xmlHttp = new XMLHttpRequest();

        xmlHttp.open("GET", url, false); // false for synchronous request
        xmlHttp.send(null);

        return JSON.parse(xmlHttp.responseText);
    }

    function msToTime(duration) {
        var milliseconds = parseInt((duration % 1000) / 100),
            seconds = Math.floor((duration / 1000) % 60),
            minutes = Math.floor((duration / (1000 * 60)) % 60),
            hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return hours + " h " + minutes + " m " + seconds + " s ";
    }
</script>

</html>