<html>

<style type="text/css" media="screen">

    h1.center {
        text-align: center;
    }

    h2.center {
        text-align: center;
    }

    p.center {
        text-align: center;
    }

    div.center {
        margin: auto;
        width: 50%;
        padding: 40px;
    }

</style>

<div class="center">
    <h1 class="center">Привет, я (сайт) работаю уже</h1>
    <!--<p th:text="${date}"></p>-->

    <h2 class="center" id="alive"></h2>
    <h2 class="center" id="disturb"></h2>
    <p class="center">
        Не отнимайте впустую время у своих коллег, будьте вежливы и не
        тревожьте без надобности тех, кто сейчас занят. Как только появится
        свободное время мы будем готовы обсудить ваш вопрос, но до тех пор
        нам надо сделать то, что на данный момент важно.
    </p>
    <p class="center">
        Вместе у нас есть шанс все исправить.
    </p>

    <p class="center">
        </br>
        <small>*</small>я учитываю каждую секунду каждого кто сейчас на сайте онлайн, и отображаю это в поле <b>(xN)</b>
    </p>
</div>
<script>
    //var date = "[[${date}]]";
    setInterval(function () {
        var response = httpGet("172.31.36.249:8080/time");
        document.getElementById("alive").innerHTML = msToTime(new Date().getTime() - response.start);
        document.getElementById("disturb").innerHTML = " За это время " + response.count + " человек уже потратили здесь </br>" + msToTime(response.sec * 1000) + "(x" + response.multiply + ")";
    }, 1000);

    function httpGet(url) {
        var xmlHttp = new XMLHttpRequest();

        xmlHttp.open("GET", url, false); // false for synchronous request
        xmlHttp.send(null);

        return JSON.parse(xmlHttp.responseText);
    }

    function msToTime(duration) {
        var milliseconds = parseInt((duration % 1000) / 100),
            seconds = Math.floor((duration / 1000) % 60),
            minutes = Math.floor((duration / (1000 * 60)) % 60),
            hours = Math.floor((duration / (1000 * 60 * 60)));

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return hours + " h " + minutes + " m " + seconds + " s ";
    }
</script>

</html>